/*
Colors
Yellow: #fed701
Black: #000000
Orange: #fca311
Grey: #d8cbc7
Blue: #212d40
*/

.background {
    position: absolute;
    background-image: linear-gradient(#fed701, #212d40);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.background2 {
    position: absolute;
    background-color: #212d40;
    height: 500px;
    width: 100%;
    top: 100%;
    left: 0;
}
.background3 {
    position: absolute;
    background-color: #212d40;
    height: 700px;
    width: 100%;
    top: 100%;
    left: 0;
}

a, p, h1 {
    color: white;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #000000;
    background-color: #d8cbc7;
}

.navElement {
    float: left;
}

.navElement a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navElement a:hover:not(.active) {
    background-color: #ddd;
}

.navElement a.active {
    background-color: #fca311;
}

.center {
    text-align: center;
}
.centered{
    display: inline-block;
    text-align: left;
}
.title {
    text-align: center;
}

.main{
    position: absolute;
}

.mainContent {
    width: 50%;
    background-color: rgba(216, 203, 199, .5)
}
.paragraph {
    margin: 20px;
}

#poster {
    position: absolute;
    top: 100px;
    width: 600px;
    height: auto;
}

#about {
    position: absolute;
    right: 10px;
    top: 108px;
    width: 40%;
}